USE [SHOP_DB]
GO
/****** Object:  Table [dbo].[Brand]    Script Date: 13/01/2025 23:13:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brand](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [varchar](100) NULL,
 CONSTRAINT [PK_Brand] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 13/01/2025 23:13:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [varchar](100) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 13/01/2025 23:13:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [varchar](100) NULL,
	[Quantity] [int] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Brand] ([ID], [Name]) VALUES (N'2278953a-c6c2-4fca-ac1a-0bfa0a9fafa8', N'Vivo')
INSERT [dbo].[Brand] ([ID], [Name]) VALUES (N'574ee2a7-21ff-451b-a227-1d0839e78a44', N'Acer')
INSERT [dbo].[Brand] ([ID], [Name]) VALUES (N'27392cc8-62f0-42ae-8360-29f2cda85e69', N'ASUS')
GO
INSERT [dbo].[Category] ([ID], [Name]) VALUES (N'381daa49-ba52-4964-88cd-188e72d5c00f', N'Smartphone')
INSERT [dbo].[Category] ([ID], [Name]) VALUES (N'1da15267-c688-462c-a1df-74da6b2fb8f0', N'Laptop')
GO
INSERT [dbo].[Product] ([ID], [Name], [Quantity]) VALUES (N'29fa78bf-c19f-4b12-8350-0d4180f325a3', N'Laptop HP 14 inch', 2)
INSERT [dbo].[Product] ([ID], [Name], [Quantity]) VALUES (N'b7b94f80-f832-49c1-9d21-14b4022b3e54', N'Smartphone Vivo X200 Pro Mini', 1)
INSERT [dbo].[Product] ([ID], [Name], [Quantity]) VALUES (N'9e9529d4-b685-4051-a9bf-1799c87f6234', N'Laptop Lenovo Ideapad 14 inch', 3)
GO
